* {
  margin: 0;
  padding: 0;
}

.container {
  background: #00ffff;
  width: 50%;
  margin: auto;
  border-radius: 10px;
}

.createTodo {
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

.todo {
  font-size: 50px;
}

#input {
  width: 60%;
  padding: 10px;
  outline: none;
  font-size: 18px;
  margin: 10px 0px;
}

.button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}

.outputContainer {
  overflow: auto;
  max-height: 48vh;
  width: 60vw;
  margin: 30px auto;
}

.outPut {
  list-style: none;
  width: 50vw;
  margin: auto;
}

.listItems {
  margin-top: 15px;
  font-size: 25px;
  border-radius: 5px;
  padding: 10px 20px;  
  display: flex;
  justify-content: space-between;
  background-color: #545353;
  color: #ffffff;
}

.listItems  .button {
    margin-left: 10px;
    border-radius: 5px;
    border: none;
}

.lineThrough {
  text-decoration: line-through;
}

.backGround {
  background-color: #787878;
}

.over {
  width: 60%;
  overflow: auto;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 60vw;
  margin: auto;
}

/* ----------------------------scrollbar------------------------- */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #787878; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00ffff; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}